.accounts-list-item {
    margin-top: -12px;
}

.accounts-list-item:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.name-div {
    height: 3rem;
    border-radius: 5px;
    margin-top: 12px;
    padding-left: 15px;
}

.icon-div {
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}

.accounts-list-item div p {
    padding-left: 15px;
    padding-top: 10px;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.button-div {
    float: right;
    margin-top: -36px;
    width: 6%;
}

.button {
    border-radius: 5px;
    border: 0px;
    height: 40px;
    width: 40px;
    background: white;
    margin-top: -10px;
}

@media (min-width: 1201px) {
    .notification-area {
        width: 20%;
        position: absolute;
        bottom: 7px;
        right: 0;
        margin-right: 10px;
    }
}